<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/admin/admin.css">

</head>
<body>
<div class="dashboard-layout">
    <!--    메뉴바-->
    <div class="sidebar">
        <div class="sidebar-item">
            <img src="icon-dashboard.svg" alt="대시보드 아이콘"/>
            <span>대시보드</span>
        </div>
        <div class="sidebar-item" onclick="location.href='admin/device.html'">
            <img src="icon-device-management.svg" alt="기기 관리 아이콘"/>
            <span>객실 기기관리</span>
        </div>
        <div class="sidebar-item">
            <img src="icon-hotel.svg" alt="호텔 기기 아이콘"/>
            <span>호텔 기기</span>
        </div>
        <div class="sidebar-item">
            <img src="icon-energy.svg" alt="에너지 관리 아이콘"/>
            <span>에너지 관리</span>
        </div>
        <div class="sidebar-item">
            <img src="icon-room-management.svg" alt="객실 관리 아이콘"/>
            <span>객실 관리</span>
        </div>
    </div>

    <!--    메인 콘텐츠-->
    <div class="main-content">
        <!--대시보드 요약-->
        <div class="dashboard-container">
            <div class="dashboard-summary">
                <!-- 첫 번째 요약 카드 -->
                <div class="summary-card">
                    <div class="summary-header">
                        <img src="icon-user.svg" alt="Icon" class="summary-icon"/>
                        <h3>다가오는 예약</h3>
                    </div>
                    <div class="summary-details">
                        <p>얼리 체크인<span>21</span></p>
                        <p>체크인<span>120</span></p>
                        <p>레이트 체크인<span>3</span></p>
                    </div>
                </div>

                <!-- 두 번째 요약 카드 -->
                <div class="summary-card">
                    <div class="summary-header">
                        <img src="icon-room.svg" alt="Icon" class="summary-icon"/>
                        <h3>객실 사용량</h3>
                    </div>
                    <div class="summary-details">
                        <p>사용 중<span>180</span></p>
                        <p>예약<span>144</span></p>
                        <p>남은 객실 수<span>36</span></p>
                    </div>
                </div>

                <!-- 세 번째 요약 카드 -->
                <div class="summary-card">
                    <div class="summary-header">
                        <img src="icon-cleaning.svg" alt="Icon" class="summary-icon"/>
                        <h3>청소 예정</h3>
                    </div>
                    <div class="summary-details">
                        <p>청소 완료<span>137</span></p>
                        <p>청소 중 <span>17</span></p>
                        <p>청소 예정<span>30</span></p>
                    </div>
                </div>

                <!-- 네 번째 요약 카드 -->
                <div class="summary-card">
                    <div class="summary-header">
                        <img src="icon-device.svg" alt="Icon" class="summary-icon"/>
                        <h3>방별 기기 관리</h3>
                    </div>
                    <div class="summary-details">
                        <p>이상<span>5</span></p>
                        <p>고장<span class="error">2</span></p>
                        <p>필터 교체<span>12</span></p>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="section-name">방 정보</h2>
        <!-- 객실 카드 -->

        <div class="room-info-container">
            <!-- 사용중 -->
            <div class="room-card" th:each="roomDetail : ${room}">
                <h2 class="room-number">
                    <span th:text="${roomDetail.roomNumber}">101호</span>
                    <span class="room-type" th:text="${roomDetail.roomType}">스위트</span>
                </h2>
                <p class="guest-info">
                    <span th:text="${roomDetail.customerName}">김하윤</span>
                    <span th:text="${roomDetail.customerId}">A0001429</span>
                </p>

                <div class="section-title">룸 컨디션</div>
                <div class="room-info-condition">
                    <div class="room-label">방 온도</div>
                    <div class="room-value" th:text="${roomDetail.roomTemperature + '°C'}">22°C</div>
                </div>
                <div class="room-info-condition">
                    <div>냉장고</div>
                    <span class="room-status on">ON</span>
                    <div class="room-value">냉장고 10°C, 냉동고 -1°C</div>
                </div>
                <div class="room-info-condition">
                    <div>에어컨</div>
                    <span class="room-status on">ON</span>
                    <div class="room-value">설정 온도 18°C</div>
                </div>

                <div class="section-title">체크인 정보</div>
                <div class="room-info-condition">
                    <div class="room-label">체크인</div>
                    <div class="room-value" th:text="${roomDetail.checkInDate}">9월 24일 3시</div>
                </div>
                <div class="room-info-condition">
                    <div class="room-label">체크아웃</div>
                    <div class="room-value" th:text="${roomDetail.checkOutDate}">9월 26일 11시</div>
                </div>
            </div>
        </div>


<!--            &lt;!&ndash;입실 예정&ndash;&gt;-->
<!--            <div class="room-card red-border" >-->
<!--                <h2 class="room-number">-->
<!--                    <span th:text="${room.roomNumber}">102호</span>-->
<!--                    <span class="room-type" th:text="${room.roomType}">스위트</span>-->
<!--                </h2>-->
<!--                <p class="guest-info">-->
<!--                    <span th:text="${room.customerName}">박현지</span>-->
<!--                    &lt;!&ndash; 현재 여기 reservation 에 customerName 없어서 db 조인해서 가져오셔야해요&ndash;&gt;-->
<!--                    <span th:text="${room.customerId}">A0001831</span>-->
<!--                </p>-->
<!--                <div class="section-title">룸 컨디션</div>-->
<!--                <div class="room-info-condition">-->
<!--                    <div class="room-label">방 온도</div>-->
<!--                    <div class="room-value" th:text="${room.roomTemperature + '°C'}">28°C</div>-->
<!--                </div>-->
<!--                <div class="room-info-condition">-->
<!--                    <div class="room-label">냉장고</div>-->
<!--                    <div class="room-status on">ON</div>-->
<!--                    <div class="room-value">냉장고 10°C 냉동고 -1°C</div>-->
<!--                </div>-->
<!--                <div class="room-info-condition">-->
<!--                    <div class="room-label">에어컨</div>-->
<!--                    <div class="room-status on">ON</div>-->
<!--                    <div class="room-value">설정 온도 24°C</div>-->
<!--                </div>-->

<!--                <div class="section-title">체크인 정보</div>-->
<!--                &lt;!&ndash; 이거 temporals 지피티 코드인데 내가 date에 시간 들어간다고했지만 표현하는 포멧이래요&ndash;&gt;-->
<!--                <div class="room-info-condition">-->
<!--                    <div class="room-label">체크인</div>-->
<!--                    <div class="room-value" th:text="${#temporals.format(room.checkinDate, 'MM월 dd일 a h시 mm분')">-->
<!--                        - -->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="room-info-condition">-->
<!--                    <div class="room-label">체크아웃</div>-->
<!--                    <div class="room-value" th:text="${#temporals.format(room.checkoutDate, 'MM월 dd일 a h시 mm분')">-->
<!--                        9월 26일 11시-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


            <!-- 얼리체크인  -->
<!--            <div class="room-card green-border" th:data-room="${room.roomNumber}">-->
<!--                <h2 class="room-number">-->
<!--                    <span th:text="${room.roomNumber}">103호</span>-->
<!--                    <span class="room-type" th:text="${room.roomType}">스위트</span>-->
<!--                </h2>-->
<!--                <p class="guest-info">-->
<!--                    <span th:text="${reservation.customerName}">이서영</span>-->
<!--                    &lt;!&ndash; 현재 여기 reservation 에 customerName 없어서 db 조인해서 가져오셔야해요&ndash;&gt;-->
<!--                    <span th:text="${reservation.customerId}">A0007211</span>-->
<!--                </p>-->
<!--                <div class="section-title">룸 컨디션</div>-->
<!--                <div class="room-info-condition">-->
<!--                    <div class="room-label">방 온도</div>-->
<!--                    <div class="room-value" th:text="${roomCondition.roomTemperature + '°C'}">27°C</div>-->
<!--                </div>-->
<!--                <div class="room-info-condition">-->
<!--                    <div class="room-label">냉장고</div>-->
<!--                    <div class="room-status on">ON</div>-->
<!--                    <div class="room-value">냉장고 10°C 냉동고 -1°C</div>-->
<!--                </div>-->
<!--                <div class="room-info-condition">-->
<!--                    <div class="room-label">에어컨</div>-->
<!--                    <div class="room-status on">ON</div>-->
<!--                    <div class="room-value">설정 온도 26°C</div>-->
<!--                </div>-->

<!--                <div class="section-title">체크인 정보</div>-->
<!--                &lt;!&ndash; 이거 temporals 지피티 코드인데 내가 date에 시간 들어간다고했지만 표현하는 포멧이래요&ndash;&gt;-->
<!--                <div class="room-info-condition">-->
<!--                    <div class="room-label">체크인</div>-->
<!--                    <div class="room-value" th:text="${#temporals.format(reservation.checkinDate, 'MM월 dd일 a h시 mm분')">-->
<!--                        - -->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="room-info-condition">-->
<!--                    <div class="room-label">체크아웃</div>-->
<!--                    <div class="room-value" th:text="${#temporals.format(reservation.checkoutDate, 'MM월 dd일 a h시 mm분')">-->
<!--                        9월 26일 11시-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <!-- 공실  -->
            <div class="room-card gray-border" data-room="104">
                <h2 class="room-number">104호 <span class="room-type">스위트</span></h2>
                <p class="guest-info"> 공실 </p>
                <div class="section-title">룸 컨디션</div>
                <div class="room-info-condition">
                    <div class="room-label">방 온도</div>
                    <div class="room-value">28°C</div>
                </div>
                <div class="room-info-condition">
                    <div class="room-label">냉장고</div>
                    <div class="room-status off">OFF</div>
                    <div class="room-value">냉장고 10°C 냉동고 -1°C</div>
                </div>
                <div class="room-info-condition">
                    <div class="room-label">에어컨</div>
                    <div class="room-status off">OFF</div>
                    <div class="room-value">설정 온도 24°C</div>
                </div>
                <div class="section-title">체크인 정보</div>
                <div class="room-info-condition">
                    <div class="room-label">체크인</div>
                    <div class="room-value">-</div>
                </div>
                <div class="room-info-condition">
                    <div class="room-label">체크아웃</div>
                    <div class="room-value">-</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin/admin.js"></script>
</body>
</html>