/* 배너 섹션 스타일 */
.banner {
    background-color: #f0f0f0;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}

.banner-content {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    /*padding: 20px;*/
    /*border-radius: 8px;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}

.banner-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

.input-group {
    display: inline-block;
    margin: 0 10px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 150px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.search-btn {
    margin-top: 20px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}
