.calendar-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-body {
    display: flex;
    justify-content: space-between;
}

.datepicker-wrapper input {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#calendar {
    margin-top: 20px;
}

.close-btn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
