footer {
    background-color: #f8f8f8;
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc !important; /* 상단 구분선 추가 */
}

.footer-container {
    max-width: 1200px; /* 최대 너비를 1200px로 제한 */
    width: 100%;
    display: flex;
    justify-content: space-between; /* 좌우 정렬 */
    align-items: flex-start; /* 상단 맞춤 정렬 */
    padding: 20px 40px;
    box-sizing: border-box; /* 패딩 포함 */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    flex-direction: row; /* 가로로 나열되도록 설정 */
}

.footer-left {
    flex: 1;
    text-align: left; /* 왼쪽 정렬 */
}

.footer-right {
    flex: 1;
    text-align: right; /* 오른쪽 정렬 */
}

.footer-right h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.footer-right p {
    margin: 0;
    font-size: 14px;
    color: #666;
    line-height: 1.8;
}

.footer-logo {
    max-width: 200px; /* 로고 최대 크기 */
    height: auto; /* 비율 유지 */
    margin-bottom: 10px;
}

/* 반응형 처리 */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-left, .footer-right {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }
}
