body, html {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #f9f9f9;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 100%;
    max-width: 1800px; /* 원래 max-width의 2배로 설정 */
    padding: 120px; /* 세로 크기는 그대로 유지 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input:focus {
    border-color: #00aaff;
    box-shadow: 0 0 5px rgba(0, 170, 255, 0.5);
    outline: none;
}

button[type="button"], button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: transparent; /* 배경색 제거 */

    color: #A50034;
    border: 2px solid #A50034;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="button"]:hover, button[type="submit"]:hover {
    background-color: #A50034; /* 호버 시 배경 색 LG 로고 색 */
        color: white; /* 호버 시 텍스트 색을 흰색으로 변경 */
}

.wanted-conditions, .allergy {
    margin-bottom: 20px;
}

.wanted-conditions div, .allergy div {
    margin-bottom: 10px;
}

.wanted-conditions label, .allergy label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.error-message {
    color: red;
    text-align: center;
}

/* 아이디와 중복 검사 버튼을 가로로 정렬 */
.user-id-container {
    display: flex;
    flex-direction: column; /* 레이블을 위로 배치 */
    gap: 5px; /* 레이블과 입력 필드 간격 */
    width: 100%; /* 전체 너비에 맞춤 */
}

.input-button-group {
    display: flex;
    flex-direction: row; /* 입력란과 버튼을 가로로 나열 */
    gap: 5px; /* 입력란과 버튼 사이 간격 */
    width: 100%; /* 전체 너비 */
}

.input-button-group input {
    flex-grow: 2; /* 입력란의 너비를 부모 컨테이너에 맞춤 */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* 입력 필드가 전체 너비를 차지하게 */
}

.input-button-group button {
    padding: 5px 10px; /* 버튼의 크기를 적절히 조절 */
    background-color: #A50034;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-button-group button:hover {
    background-color: #880029; /* 호버 시 배경 색 변경 */
}

/* 체크박스와 텍스트를 한 줄에 배치 */
.checkbox-container {
    display: flex;
    align-items: center; /* 텍스트와 체크박스를 수직으로 가운데 정렬 */
    margin-bottom: 10px; /* 각 체크박스 간의 간격 */
}

.checkbox-container label {
    margin-left: 10px; /* 체크박스와 텍스트 간의 간격 */
    font-size: 16px; /* 텍스트 크기 */
}
