/* Container for the room information */
.selected-room{
    background-color: #fff;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
}

/* Room Details */
.room-details {
    margin-bottom: 20px;
}

.room-basic-information {
    text-align: center;
}

.room-name {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: #333;
}

.room-number h3 {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #666;
}

.room-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.room-description {
    font-size: 1em;
    color: #333;
}

/* Sound and Air Quality Details */
.room-clean-details {
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.room-sound-air p {
    font-size: 0.9em;
    color: #555;
}

.room-sound-air span {
    font-weight: bold;
    color: #333;
}
/*Noise Level Colors*/
.blue{
    color:blue;
}

.green{
    color:green;
}

.red{
    color:red;
}

/* LG Clean Care */
.room-lg-care {
    margin-top: 15px;
    font-size: 0.9em;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.room-lg-care p {
    margin: 5px 0;
}

/* Hotel Information */
.hotel-information {
    margin-top: 20px;
}

.hotel-info-title1,
.hotel-info-title2 {
    font-size: 1.1em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.hotel-info-content1,
.hotel-info-content2 {
    margin-left: 15px;
}

.hotel-info-content1 ul,
.hotel-info-content2 ul {
    list-style-type: none;
    padding-left: 0;
}

.hotel-info-content1 li,
.hotel-info-content2 li {
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #555;
}



/* Reserve Button */
#reserveBtn {
    background-color: #6b6b6b;
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

#reserveBtn:hover {
    background-color: #a50034;
}

@media (max-width: 1200px) {
  .dashboard-summary {
    flex-wrap: wrap;
  }

  .summary-item {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
  }
}