.container,
.container * {
  box-sizing: border-box;
}
.container {
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: 1867px;
  max-width: 1200px;
  position: relative;
}
.main {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 1459px;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
}
.register-form {
  flex-shrink: 0;
  width: 1160px;
  height: 1398px;
  position: relative;
  overflow: hidden;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  position: absolute;
  left: calc(50% - 50px);
  top: 1312px;
}
.frame-26085740 {
  border-style: solid;
  border-color: #e0e0e2;
  border-width: 1px;
  padding: 3px 14px 3px 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 99px;
  height: 50px;
  position: relative;
}
.div {
  color: var(--neutral-grayscale-neut-0, #27272d);
  text-align: center;
  font-family: "PretendardVariable-Medium", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.0012em;
  font-weight: 500;
  position: relative;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.0012em;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 558px);
  top: calc(50% - 663px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-26085754 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 601px;
  position: absolute;
  left: 22px;
  top: calc(50% - 597.5px);
}
.input {
  flex-shrink: 0;
  width: 480px;
  height: 83px;
  position: relative;
  overflow: hidden;
}
.input-box {
  width: 100%;
  height: 50px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 33px;
  overflow: hidden;
}
.bg-solid {
  background: #ffffff;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.bg-border {
  border-radius: 8px;
  border-style: solid;
  border-color: #e7e9ed;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.input-name {
  color: #161c2d;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.1px;
  font-weight: 400;
  opacity: 0.7;
  position: absolute;
  right: 20px;
  left: 18px;
  bottom: 12px;
  top: 12px;
}
.label {
  color: #161c2d;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.1px;
  font-weight: 500;
  position: absolute;
  right: 307px;
  left: 0px;
  top: 0px;
}
.frame-26085753 {
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-box2 {
  background: #ffffff;
  width: 100%;
  height: 50px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 33px;
  overflow: hidden;
}
.bg-border2 {
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.label2 {
  color: #161c2d;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.1px;
  font-weight: 500;
  position: absolute;
  right: 441px;
  left: 0px;
  top: 0px;
}
.button2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 102px;
  height: 50px;
  position: relative;
}
.frame-260857402 {
  border-radius: 8px;
  border-style: solid;
  border-color: #e0e0e2;
  border-width: 1px;
  padding: 3px 14px 3px 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 102px;
  height: 50px;
  position: relative;
}
.label3 {
  color: #161c2d;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.1px;
  font-weight: 500;
  position: absolute;
  right: 279px;
  left: 0px;
  top: 0px;
}
.input2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 83px;
  position: relative;
  overflow: hidden;
}
.input-box3 {
  width: 79.87%;
  height: 50px;
  position: absolute;
  right: 20.13%;
  left: 0%;
  top: 33px;
  overflow: hidden;
}
.label4 {
  color: #161c2d;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.1px;
  font-weight: 500;
  position: absolute;
  right: 428px;
  left: 0px;
  top: 0px;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.0012em;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 558px);
  top: calc(50% - -267px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input3 {
  width: 60.52%;
  height: 5.94%;
  position: absolute;
  right: 37.59%;
  left: 1.9%;
  bottom: 20.24%;
  top: 73.82%;
  overflow: hidden;
}
.label5 {
  color: #161c2d;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.1px;
  font-weight: 500;
  position: absolute;
  right: 246px;
  left: 0px;
  top: 0px;
}
.frame-26085751 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 46px;
}
.frame-26085747 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.checkboxes {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.state-layer {
  border-radius: 100px;
  padding: 11px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.container2 {
  background: #434343;
  border-radius: 2px;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
}
.check-small {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  overflow: visible;
}
.label6 {
  color: #161c2d;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.1px;
  font-weight: 500;
  position: relative;
}
.frame-26085748 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.check-small2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  overflow: visible;
}
.frame-26085749 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container3 {
  border-radius: 2px;
  border-style: solid;
  border-color: var(--schemes-on-surface-variant, #49454f);
  border-width: 2px;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
}
.frame-26085750 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.input4 {
  width: 60.52%;
  height: 7.22%;
  position: absolute;
  right: 37.59%;
  left: 1.9%;
  bottom: 9.3%;
  top: 83.48%;
  overflow: hidden;
}
.check-small3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  overflow: visible;
}
.frame-260857532 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 148px;
  top: 46px;
}
.check-small4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  overflow: visible;
}
.frame-26085752 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 171px;
  height: 48px;
  position: absolute;
  left: 309px;
  top: 46px;
}
.text-fields {
  flex-shrink: 0;
  width: 123px;
  height: 26px;
  position: relative;
  overflow: hidden;
}
.vector-8 {
  width: 123px;
  height: 0px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.label7 {
  color: #bbbbbb;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.1px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  height: 401px;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
}
.footer2 {
  border-style: solid;
  border-color: #c3c3c3;
  border-width: 1px 0px 0px 0px;
  flex-shrink: 0;
  width: 1120px;
  height: 333px;
  position: relative;
  overflow: hidden;
}
.footer-about {
  position: absolute;
  inset: 0;
}
.logo {
  color: #484848;
  text-align: left;
  font-family: "NotoSansKr-Black", sans-serif;
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  left: 0px;
  top: 37px;
  width: 166px;
  height: 56px;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua {
  color: #9a9a9a;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 124px;
  width: 382px;
  height: 96px;
}
.playstore {
  width: 172px;
  height: 52px;
  position: static;
}
.rectangle-46 {
  background: #e0e2e6;
  border-radius: 6px;
  width: 172px;
  height: 52px;
  position: absolute;
  left: 0px;
  top: 227px;
}
.ion-logo-google-playstore {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 29px;
  top: 242px;
  overflow: visible;
}
.play-store {
  color: #484848;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 66px;
  top: 241px;
  width: 86px;
  height: 26px;
}
.applestore {
  width: 172px;
  height: 52px;
  position: static;
}
.rectangle-47 {
  background: #e0e2e6;
  border-radius: 6px;
  width: 172px;
  height: 52px;
  position: absolute;
  left: 185px;
  top: 227px;
}
.apple-store {
  color: #484848;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 245px;
  top: 241px;
  width: 94px;
  height: 26px;
}
.ion-logo-apple-appstore {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 206px;
  top: 242px;
  overflow: visible;
}
.contact-info {
  position: absolute;
  inset: 0;
}
.contact-info2 {
  color: #484848;
  text-align: left;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 866px;
  top: 37px;
  width: 153px;
  height: 28px;
}
.phone-1234567890 {
  color: #484848;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  left: 866px;
  top: 86px;
  width: 157px;
  height: 21px;
}
.email-company-email-com {
  color: #484848;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  left: 866px;
  top: 118px;
  width: 224px;
  height: 21px;
}
.location-100-smart-street-la-usa {
  color: #484848;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  left: 866px;
  top: 150px;
  width: 294px;
  height: 21px;
}
.social-media-links {
  width: 191px;
  height: 38px;
  position: absolute;
  left: 857px;
  top: 198px;
  overflow: visible;
}
