<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/user/vars.css" />
    <link rel="stylesheet" href="css/user/style.css" />
    <style>
        a,
        button,
        input,
        select,
        h1,
        h2,
        h3,
        h4,
        h5,
        * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          border: none;
          text-decoration: none;
          background: none;

          -webkit-font-smoothing: antialiased;
        }

        menu,
        ol,
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }

        .room-gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 20px;
        }

        .gallery-item {
            width: 150px;
            text-align: center;
        }

        .gallery-item img {
            width: 100%;
            height: auto;
        }
    </style>
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="main">
        <div class="line-banner">
            <div class="lg">LG 클린 서비스 제공 호텔</div>
        </div>
        <div class="banner">
            <div class="div">우리 클린 서비스 관련 이미지</div>
            <div class="rectangle-4"></div>
            <div class="div2">호텔 선택</div>
            <div class="div3">원하시는 호텔을 선택하세요.</div>
            <div class="check-in">Check In</div>
            <div class="add-dates">Add Dates</div>
            <div class="check-out">
                Check Out
                <br />
            </div>
            <div class="add-dates2">
                Add Dates
                <br />
            </div>
            <div class="guests">Guests</div>
            <div class="add-guests">Add Guests</div>
            <div class="round-search">
                <div class="ellipse-1"></div>
                <img class="fe-search" src="fe-search0.svg" />
            </div>
            <div class="line-1"></div>
            <div class="line-3"></div>
            <div class="line-2"></div>
        </div>
        <div class="fliter">
            <div class="div4">내가 원하는 컨디션의 방을 선택해요</div>
            <div class="tag">
                <div class="div5">#위생 정수기</div>
            </div>
            <div class="tag2">
                <div class="div5">#고급 의류 케어</div>
            </div>
            <div class="tag3">
                <div class="div5">#프리미엄 신발 관리</div>
            </div>
            <div class="tag4">
                <div class="div5">#프리미엄 안마 의자</div>
            </div>
            <div class="tag5">
                <div class="dolby-atomos">#Dolby Atomos 시네마 룸</div>
            </div>
            <div class="tag6">
                <div class="div5">#프리미엄 청정 룸</div>
            </div>
        </div>
        <div class="fliter2">
            <div class="line"></div>
            <div class="frame-26085744">
                <div class="filter">
                    <div class="filter-list">
                        <div class="name">
                            <div class="div6">뷰</div>
                        </div>
                    </div>
                    <div class="filter-list">
                        <div class="name2">
                            <div class="div7">침대</div>
                        </div>
                    </div>
                    <div class="name2">
                        <div class="div7">가격</div>
                    </div>
                    <div class="filter-list2">
                        <div class="div8">기타 필터</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="room">
            <div class="div9">디럭스 룸</div>
            <div class="_100-000">100,000원 ~</div>
            <div class="rectangle-25"></div>
            <img class="group-6" src="group-60.svg" />
            <img class="vector-2" src="vector-20.svg" />
            <div class="div10">예약하기</div>
            <div class="rectangle-47"></div>
            <div class="div11">평균 소음도</div>
            <div class="_19-db">
            <span>
              <span class="_19-db-span">19db</span>
              <span class="_19-db-span2">, 굉장히 조용해요</span>
            </span>
            </div>
            <div class="_40-m-2">40m^2 | 침실, 샤워부스 | 오션뷰</div>
            <div class="div12">
                디럭스 룸에 대한 간략한 설명을 작성합니다.
                <br />
                디럭스 룸에 대한 간략한 설명을 작성합니다.
            </div>
            <div class="_1">1박 기준</div>
            <div class="_2">남은 객실 2</div>
        </div>
        <div class="room">
            <div class="div9">디럭스 룸</div>
            <div class="_100-000">100,000원 ~</div>
            <div class="rectangle-25"></div>
            <img class="group-6" src="group-60.svg" />
            <img class="vector-2" src="vector-20.svg" />
            <div class="div10" id="reserveButton">예약하기</div> <!-- 클릭 이벤트 추가 -->
            <div class="rectangle-47"></div>
            <div class="div11">평균 소음도</div>
            <div class="_19-db">
        <span>
            <span class="_19-db-span">19db</span>
            <span class="_19-db-span2">, 굉장히 조용해요</span>
        </span>
            </div>
            <div class="_40-m-2">40m^2 | 침실, 샤워부스 | 오션뷰</div>
            <div class="div12">
                디럭스 룸에 대한 간략한 설명을 작성합니다.
                <br />
                디럭스 룸에 대한 간략한 설명을 작성합니다.
            </div>
            <div class="_1">1박 기준</div>
            <div class="_2">남은 객실 2</div>

            <!-- 추가될 갤러리 영역 -->
            <div class="room-gallery" id="roomGallery" style="display: none;">
                <!-- 여기에 클릭 시 갤러리가 생성될 예정 -->
            </div>
        </div>
        <div class="room">
            <div class="div9">디럭스 룸</div>
            <div class="_100-000">100,000원 ~</div>
            <div class="rectangle-25"></div>
            <img class="group-63" src="group-62.svg" />
            <img class="vector-23" src="vector-22.svg" />
            <div class="div10">예약하기</div>
            <div class="rectangle-47"></div>
            <div class="div11">평균 소음도</div>
            <div class="_19-db">
            <span>
              <span class="_19-db-span5">19db</span>
              <span class="_19-db-span6">, 굉장히 조용해요</span>
            </span>
            </div>
            <div class="_40-m-2">40m^2 | 침실, 샤워부스 | 오션뷰</div>
            <div class="div12">
                디럭스 룸에 대한 간략한 설명을 작성합니다.
                <br />
                디럭스 룸에 대한 간략한 설명을 작성합니다.
            </div>
            <div class="_1">1박 기준</div>
            <div class="_2">남은 객실 2</div>
        </div>
    </div>
    <div class="footer">
        <div class="footer2">
            Footer (아마 우리 서비스 이름, 이메일 정도 들어갈듯)
        </div>
    </div>
</div>

<!-- 스크립트 파일 연결 -->
<script src="js/script.js"></script>
</body>
</html>