<footer>
    <div th:fragment="footer">
        <div class="footer-container">
            <div class="footer-content">
                <div class="footer-description">
                    직접 객실을 고를 수 있는 새로운 호텔 예약 서비스입니다.
                    <br />
                    E-MAIL: CHOOROOM@naver.com
                    <br />
                    TEL: 02-1234-5678
                </div>
                <div class="footer-title">
                    CHOOROOM
                </div>
            </div>
        </div>
    </div>
</footer>