<header>
    <div th:fragment="header">
        <div class="header-container">
            <div class="logo">
                <img src="/img/user/CHOOROOMLOGO.png" alt="CHOOROOM" class="header-logo" width="200" >
            </div>
            <div class="nav-icons">
                <div id="reservstionCheckButton" class="reservstionCheck">예약확인</div>
                <!-- 로그인이 되어 있을 때 로그아웃 버튼만 표시 -->
                <div id="logoutButton" class="login" th:if="${user != null}">로그아웃</div>

                <!-- 로그인이 안 되어 있을 때 로그인 버튼만 표시 -->
                <div id="loginButton" class="login" th:if="${user == null}"> 로그인</div>
            </div>
        </div>
    </div>
</header>